{%
  set classes = [
    'teaser',
    'article-teaser',
  ]
%}
<a class="teaser__link" href="{{ url }}">
  <article{{ attributes.addClass(classes) }}>
    <p class="node__subtitle">{{ node.getCreatedTime()|date("jS F Y") }}</p>
    <h2{{ title_attributes.addClass('teaser__title') }}>
      {{ label['#items'].getString }}
    </h2>
    {{ content.field_image }}
    {{ content.body|render|striptags('<br><p><b><strong>') }}
    {% if content.field_image[0] %}
      <div class="clear"></div>
    {% endif %}
  </article>
</a>
