{%
  set classes = [
    'teaser',
    'session-teaser',
  ]
%}
 <a class="teaser__link" href="{{ url }}">
    <article{{ attributes.addClass(classes) }}>
      <p class="node__subtitle">{{ content.field_session_speaker['#items'].getString }}</p>
      <h2{{ title_attributes.addClass('teaser__title') }}>
        {{ label['#items'].getString }}
      </h2>
      <div class="node__meta-fields">
        {{ content|without('field_session_speaker', 'body') }}
      </div>
      {{ content.body }}
    </article>
 </a>
